doctype html
html(lang="en")
  head
    title!= "Stroy Alliance - Preloader"

    link(rel="stylesheet", href="style.css")
  body

    .title--wrap
      p.title.title-0.animated.slideInRight!= "Some Title 1"
      p.title.title-1.animated.slideInRight!= "Some Title 2"
      p.title.title-2.animated.slideInRight!= "Some Title 3"
      p.title.title-3.animated.slideInRight!= "Some Title 4"
      p.title.title-4.animated.slideInRight!= "Some Title 5"
