doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    title!= "Stroy Alliance - Preloader"

    link(rel="stylesheet", href="style.css")
  body

    .title--wrap
      p.title.title-0.animated.slideInRight!= "Квартиры"
      p.title.title-1.animated.slideInRight!= "Застройщик"
      p.title.title-2.animated.slideInRight!= "Коммерческая недвижимость"
      p.title.title-3.animated.slideInRight!= "Инвестиции"
      p.title.title-4.animated.slideInRight!= "Генподрядчик"
      p.title.title-5.animated.slideInRight!= "Машиноместа"
      p.title.title-6.animated.slideInRight!= "Земля"
      p.title.title-7.animated.slideInRight!= "Проектирование"
      p.title.title-8.animated.slideInRight!= "Таунхаусы"
      p.title.title-9.animated.slideInRight!= "Новостройки"
